html{
  box-sizing: border-box;
  width: 100%;
  scroll-behavior: smooth;
}
#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 100%;
}
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  line-height: 1.3;
  font-family: 'Arial', sans-serif;
}
.blur{
  filter: blur(50px);
}


/*body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}*/

.conatainer{
  margin: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 90vh;
}
.nameContainer {
  position: relative;
  display: flex;
}
.nameContainer.reverse {
  animation: dropReverse 1s forwards;
}

.nameContainer span {
  font-size: 4em;
  color: rgb(11, 187, 149);
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  padding: 3px;
  opacity: 0;
  
  animation: drop 0.4s linear forwards;
}


.nameContainer span:nth-child(2) {
  animation-delay: 0.2s;
}

.nameContainer span:nth-child(3) {
  animation-delay: 0.4s;
}

.nameContainer span:nth-child(4) {
  animation-delay: 0.6s;
}

.nameContainer span:nth-child(5) {
  animation-delay: 0.8s;
}

.nameContainer span:nth-child(6) {
  animation-delay: 1s;
}

.nameContainer span:nth-child(7) {
  animation-delay: 1.2s;
}

.nameContainer span:nth-child(8) {
  animation-delay: 1.4s;
}

.nameContainer span:nth-child(9) {
  animation-delay: 1.6s;
}
.nameContainer span:nth-child(10) {
  animation-delay: 1s;
}
.nameContainer span:nth-child(11) {
  animation-delay: 1.8s;
}
.nameContainer span:nth-child(12) {
  animation-delay: 2.0s;
}
.nameContainer span:nth-child(13) {
  animation-delay: 2.2s;
}
.nameContainer span:nth-child(14) {
  animation-delay: 2.4s;
}
.nameContainer span:nth-child(15) {
  animation-delay: 2.6s;
}
.nameContainer span:nth-child(16) {
  animation-delay: 2.8s;
}
.nameContainer span:nth-child(17) {
  animation-delay: 3.0s;
}

/*main layout*/

.layout-main{
  display: flex;
  flex-direction: column;
  height: 100vh;

}

/* navigation bar*/

.header{
  display: flex;
  place-content: center;
  align-self: center;
  align-items: center;
  position: fixed;
  top: 0px;
  z-index: 11;
  width: 100%;
  height: 70px;
  backdrop-filter: blur(10px);
  filter: none !important;
  pointer-events: auto !important;
  user-select: auto !important;
}
.nav{
   
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    width: 95%;
    counter-reset: item 0;
    z-index: 12;
}

.logo a{
  text-decoration: none;
  font-size: 25px;
  font-weight: 700;
  position: relative;
  color: #64ffda;
  font-family: "Dosis", sans-serif;

}
.nav-list{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  opacity: 1;
  transition:  all 0.3s cubic-bezier(.39,.57,.4,.6);
  transform: translateY(0);
}
.nav-list ol{
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.nav-list ol li{
  margin: 0px 20px;
  position: relative;
  counter-increment: item 0;
  font-size: 20px;
}
.nav-list ol li a{
  text-decoration: none;
  color: #cccccc;
  position: relative;
  font-size: 16px;
  font-weight:500;
}
.nav-list ol li a:hover{
  color: #64ffda;
}
.resume-button{
    border: 1px solid #64ffda;
    height: 40px;
    text-decoration: none;
    padding: 0px 9px;
    margin: 0px 20px;
    justify-content: center;
    align-content: center;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    color: #64ffda;
    border-radius: 5px;
  
}

.nav-panel{
  display: none;
}

.nav-open{
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  z-index: 10;
  margin-right: -15px;
  padding: 15px;
  border: 0px;
  background-color: transparent;
  color: inherit;
  text-transform: none;
  transition-timing-function: linear;
  transition-duration: 0.15s;
  transition-property: opacity, filter;
}

.size-6{
  color: #64ffda;
  width: 50px;
  height: 50px;
}

.side-menu{
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  padding: 50px 10px;
  width: min(75vw, 400px);
  height: 100vh;
  outline: 0px;
  background-color: #06142d;
  box-shadow: -10px 0px 30px -15px rgba(2,12,27,0.7);
  z-index: 9;
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
  
}
.side-menu ol{
  list-style: none;
  padding: 0px;
  margin: 0px;
 }
 .side-menu ol li{
   margin-bottom: 40px;
 }
 .side-menu ol li a{
  text-decoration: none;
  color: #cccccc;
  position: relative;
  height: 100%;
  font-size: 18px;
  font-weight: 500; 
  font-family: "Dosis", sans-serif;;
}
.open{
  visibility: visible;
  transform: translateX(0vw)
}
.close{
  visibility: hidden;
  transform: translateX(100vw);
}



@keyframes  drop {
  0% {
    transform: translateY(-200px) scaleY(0.9);
  }
  5% {
    opacity: 0.7;
  }
  50% {
    transform: translateY(0px) scaleY(1);
    opacity: 1;
  }
  65% {
    transform: translateY(-17px) scaleY(0.9);
  }
  75% {
    transform: translateY(-22px) scaleY(0.9);
  }
  100% {
    transform: translateY(0px) scaleY(1);
    opacity: 1;
  }
}
@keyframes dropReverse {
  0% {
    transform: translateZ(0px) scaleZ(1);
    opacity: 1;
  }
  50% {
    transform: translateZ(200px) scaleZ(0.9);
    opacity: 0;
  }
  100% {
    transform: translateZ(400px) scaleZ(0.9);
    opacity: 0;
  }
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


.size-7{
  width: 35px;
  height: 35px;
  color: black;
}
.flex-column{
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  

}
.flex-column a{
  text-decoration: none;
  color: #8f8f8f;
  margin: 0px;
  padding: 0px;
  margin-top: 20px;
  
}

.flex-column a svg{
  transition:  all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}
.flex-column a svg:hover{
  fill: #00f9bf;
  transform: translateY(-5px);
}

.social-links{
  display: flex;
  position: fixed;
  bottom: 0px;
  left: 40px;
  opacity: 1;
  transition:  all 0.3s cubic-bezier(.39,.57,.4,.6);
  transform: translateY(0);
  transition-delay: 100ms;
}
.email-bar{
  display: flex;
  position: fixed;
  top: 0px;
  right: 40px;
  opacity: 1;
  transition:  all 0.3s cubic-bezier(.39,.57,.4,.6);
  transform: translateY(0);
  transition-delay: 100ms;
}
.email-link{
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transition:  all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}
.email-link:hover{
  color: #00f9bf;
  transform: translateX(5px);
}
.vertical-line{
  border: 1px solid #6c6c6ccc;
  border-radius: 50%;
  height: 100px;
  margin-top: 20px;
}
.h{
  height: 170px;
}


/* Main content */


.info{
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0px auto;
  justify-content: center;

}
main{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  margin: 0px auto;
  max-width: 1000px;
  justify-content: center;
  margin-top: 50px;
  
}
section{

  padding: 100px 0;
}
h4{
  margin-bottom: 0px;
  color: #ccfafa;
  font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono',monospace;
  margin-top: 10px;
}

h6{
  font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
  font-weight: 500;
  font-size: 16px;
  color: #64ffda;
  margin: 10px 0px;

}

h1{
  font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
  font-weight: 700;
  font-size: 60px;
  margin: 10px 0px;
  color: rgb(194, 228, 247);
  transition: all 0.25s cubic-bezier(.39,.57,.4,.6);
}
p{
  font-size: 16px;
  font-weight: 150;
  color: #8892B0;
}



.phrase{
  color:rgb(129, 174, 200);
}
.summarry-para{
  max-width: 600px;
}
.summarry-para p{
  font-size: 16px;
  font-weight: 150;
  line-height: 1.8;
  color: #8892B0;
  padding: 10px 0px;
  transition: all 0.25s cubic-bezier(.39,.57,.4,.6);
}
.about{
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 50px;
  
}
.subtitle{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 40px;
  width: 100%;
  opacity: 1;
  transition:  all 0.3s cubic-bezier(.39,.57,.4,.6);
  transform: translateY(0);
}
.horizontal-line
{
  max-width: 400px;
  height: 1px;
  border: none;
  background-color: #213547;
  margin: 0px 20px;
}
.highlight-span{
  color: #64ffda;
}

.subtitle h4{
  color: #a2d2d3;
  font-size: 30px;
  white-space: nowrap;
  margin: 0px;
  font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
}

.about-content{
  max-width: 600px;
  opacity: 1;
  transition:  all 0.3s cubic-bezier(.39,.57,.4,.6);
  transform: translateY(0);
 
}
.about-content .description p{
   font-size: 16px;
   font-weight: 100;
   line-height: 1.9;
   color: #8892B0;
}
.skill-list{
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Adjust the gap between items as needed */
  list-style:disclosure-closed;
}
.skill-list li::marker{
  color: #64ffda;
  font-size: 12px; 
}
.skill-list li {
  width: calc(50% - 10px); /* Calculate half the width minus the gap */
  margin-bottom: 10px; /* Adjust margin between rows */
  color: #8892B0;
}
.about-image{
  
    position: relative;
    display: inline-block;

}
.about-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00f9bf;
  mix-blend-mode: multiply;
  opacity: 1; /* Adjust opacity as needed */
  transition: opacity 0.25s ease-in-out;

}
.about-image::after{
  border: 2px solid #64ffda;
  top: 14px;
  left: 14px;
  z-index: -1;
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  transition:  all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}
.about-image:hover::after {
  
  top: 20px;
  left: 20px;
}
.about-image:hover::before {
  opacity: 0;
}

.about-image img{
     display: block;
     width: 250px;
     height: 300px;
}


.education{
  display: flex;
  width: 100%;
}

.education-content{
  display: flex;
  margin: auto 100px;
  flex-direction: column;
  opacity: 1;
  transition:  all 0.3s cubic-bezier(.39,.57,.4,.6);
  transform: translateY(0);
}

.timeline{
  border-left: 4px solid #8f8f8f;
  padding: 0px 30px;
  

}

.badge{
   margin-bottom: 40px;
   border-bottom: 1px solid #4571a7;
   transform: rotate(30 deg);
   position: relative;
    
}
.badge::before{
  content: '';
  position: absolute;
  left: calc(0% - 42px);
  height: 10px;
  width: 10px;
  background-color: #213547;
  border-radius: 50%;
  border: 5px solid #00f9bf;
}
.badge h6{
   margin-bottom: 0px;
}
.badge h5{
  margin-bottom: 0px;
}
.last{
  margin-bottom: 0px;
  
}

.projects-content
{
  max-width: 900px;
  
}
.featured{
  position: relative;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  -webkit-box-align: center;
  align-items: center;
}
.featured-image{
  grid-area: 1 / 1 / -1 / 9;
  position: relative;
  z-index: 1;
  opacity: 1;
  transition:  all 0.3s cubic-bezier(.39,.57,.4,.6);
  transform: translateY(0);
}
.featured-image::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
  background-color:#29a1ae;
  mix-blend-mode:  multiply;;
}
.featured-image:hover::before{
  opacity: 0;
}
.featured-image img{
  width: 100%;
}
.featured-content{
  position: relative;
  grid-area: 1 / 1 / -1 / 7;
  grid-column: 7 / 13;
  text-align: right;
  z-index: 5;
  opacity: 1;
  transition:  all 0.3s cubic-bezier(.39,.57,.4,.6);
  transform: translateY(0);
}

.featured-content h6{
  font-size: 14px;
  margin-bottom: 0px;
}
.featured-content h4{
  margin-bottom: 0px;
  color: #ccfafa;
  font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono',monospace;
  margin-top: 10px;
}
.featured-content p{
  font-size: 16px;
   font-weight: 100;
   line-height: 1.9;
   border-radius: 5px;
   background-color: #13273f;
   color: #8892B0;
   padding: 20px 30px;
}
.techstack{
  font-size: 12px;
  color:#0b8cfe;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding: 0px;      
  margin: 0px; 
}
.techstack li{
  margin-left: 20px;
}
.noteworthy{
  margin-top: 200px;
  opacity: 1;
  transition:  all 0.3s cubic-bezier(.39,.57,.4,.6);
  transform: translateY(0);
}
.noteworthy .subtitle{
   justify-content: center;
}
.noteworthy .subtitle h4{
  font-size: 25px;
}


.project-list{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; /* Ensures equal spacing between items */
  list-style-type: none; /* Remove default bullet points */
  padding: 0; /* Remove default padding */
  margin: 0; 
}
.project-item{
  display: flex;
  flex-direction: column;
  flex: 1 1 300px; 
  max-width: 360px; 
  box-sizing: border-box; 
  margin-bottom: 16px; 
  justify-content: space-between;
  min-height: 300px;
  background-color: #13273f;
  padding: 20px 30px;
  box-shadow: 0 20px 30px -15px #021b38;
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}
.project-item:hover{
  .title h4{
    color: #00f9bf;
    
  }

  transform: translateY(-10px);
}
.folder-icon{
  height: 50px;
  width: 50px;
  color: #00f9bf;
}
.item-start{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title h4{
  font-size: 20px;
}

.contact{
  width: 100%;
}
.contact-content{
  max-width: 900px;
  opacity: 1;
  width: 100%;
  transition:  all 0.3s cubic-bezier(.39,.57,.4,.6);
  transform: translateY(0);
}
.contact-content .subtitle{
  justify-content: center;
}
.contact-content .subtitle h4{
  font-size: 38px;
  font-family: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;;
}
.contact-content .description{
  margin: 0 auto;
  max-width: 500px;
}
.contact-content p{
  text-align: center;
  font-size: 17px;
  
  word-spacing: 1px;
}
.email-button{
  display: flex;
  width: fit-content;
  padding: 0;
  margin: 60px auto;
  justify-content: center;
 
}
.email-button .resume-button{
  transition:  all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}
.email-button .resume-button:hover{
  transform: translateY(-5px);
  box-shadow: 5px 5px 0 0 #00f9bf ;
  
}

footer{
  max-width: 900px;
  justify-content: center;
  width: 100%;
}
footer a{
  text-decoration: none;
  font-family: "Dosis",monospace;
  color: #8892B0;
  font-size: 16px;
  word-spacing: 3px;
  font-weight: 500;
}
footer a:hover{
  color: #00f9bf;
}
footer p{
  text-align: center;
  
}
.flex-row{
  text-align: center;
  display: none;
}
.flex-row a{
  text-decoration: none;
  color: #8f8f8f;
  margin-left: 10px;
  padding: 0px;
  margin-top: 20px;
  
}

.flex-row a svg{
  transition:  all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}
.flex-row a svg:hover{
  fill: #00f9bf;
  transform: translateY(-5px);
}
.hidden{
  opacity: 0;
  transform: translateY(-40px);
}
.hidden-right{
  opacity: 0;
  transform: translateY(-100px);
}
.hidden-left{
  opacity: 0;
  transform: translateY(100px);
}
.hidden-nav{
  opacity: 0;
  transform: translateY(-30px);
}
.show{
  
  opacity: 1;
  transition:  all 0.3s cubic-bezier(.39,.57,.4,.6);
  transform: translateY(0);
}
